[submodule "matlab-helpers"]
	path = matlab-helpers
	url = git@bitbucket.org:smaji/matlab-helpers.git
[submodule "vlfeat"]
	path = vlfeat
	url = git@bitbucket.org:smaji/vlfeat.git
[submodule "matconvnet"]
	path = matconvnet
	url = git@bitbucket.org:smaji/matconvnet.git
